
<div id="background">
    <div class="foreground text-center">
        @*<br />
            <div class="container font-druchilla f-druchilla-title">
                <div class="col-md-1"></div>
                <div class="col-md-4"><p>Ana Rita Ferreira</p></div>
                <div class="col-md-2"><p>&</p></div>
                <div class="col-md-4"><p>Ricardo Marques</p></div>
                <div class="col-md-1"></div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <p class="font-horatio-medium" style="font-size:x-large">Em conjunto com as nossas familias convidamo-vos a partilhar connosco a celebração do nosso matrimónio</p>
                    <br /><br />
                    <p class="font-horatio-bold" style="font-size:xx-large;">27 Maio 2018</p>
                </div>
            </div>
            <br />
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-3" style="font-size:large">
                    <img src="~/Content/Images/church.png" height="64" width="64" />
                    <p class="font-horatio-medium">Igreja do Castelo</p>
                    <p class="font-horatio-medium">de Sesimbra</p>
                    <p class="font-horatio-medium">10:30 (GMT+0)</p>
                </div>
                <div class="col-md-4">
                    <br /><br /><br />
                    <button class="btn btn-default-invert">Responder</button>
                </div>
                <div class="col-md-3" style="font-size:large">
                    <img src="~/Content/Images/restaurant.png" height="64" width="64" />
                    <p class="font-horatio-medium">Quinta dos</p>
                    <p class="font-horatio-medium">Sonhos</p>
                    <p class="font-horatio-medium">Maça - Sesimbra</p>
                </div>
                <div class="col-md-1"></div>
            </div>*@
    </div>
</div>