
<div id="background">
    <div class="foreground text-center">
        <br />
        <div class="container font-druchilla f-druchilla-title">
            <div class="col-md-1"></div>
            <div class="col-md-4"><p>Ana Rita Ferreira</p></div>
            <div class="col-md-2"><p>&</p></div>
            <div class="col-md-4"><p>Ricardo Marques</p></div>
            <div class="col-md-1"></div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <p class="font-horatio-medium font-xlarge">Em conjunto com as nossas familias convidamo-vos a partilhar connosco a celebração do nosso matrimónio</p>
                <br /><br />
                <p class="font-horatio-bold font-xxlarge">27 Maio 2018</p>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-3 font-large">
                <a href='@Url.Action("Place", "Home" )'>
                    <img src="~/Content/Images/church.png" height="64" width="64" />
                </a>
                <p class="font-horatio-medium">Igreja de Santa Maria</p>
                <p class="font-horatio-medium">Castelo de Sesimbra</p>
                <p class="font-horatio-medium">10:30 (GMT+0)</p>
            </div>
            <div class="col-md-4">
                <br /><br /><br />
                <a class="btn btn-default-invert" href='@Url.Action("Answer", "Home" )'>Responder</a>
            </div>
            <div class="col-md-3 font-large">
                <img src="~/Content/Images/restaurant.png" height="64" width="64" />
                <p class="font-horatio-medium">Quinta dos</p>
                <p class="font-horatio-medium">Sonhos</p>
                <p class="font-horatio-medium">Maça - Sesimbra</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>